<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if player %}
    <table border="1">
        <tbody>
            <tr>
                <td>ID</td>
                <td>Role</td>
                <td>Wins</td>
                <td>Losses</td>
                <td>Bio</td>
                <td>Team</td>
            </tr>
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.role }}</td>
                <td>{{ player.wins }}</td>
                <td>{{ player.losses }}</td>
                <td>{{ player.bio }}</td>
                <td><a href="/organizer/team/{{ player.team.id }}">{{ player.team.name }}</a></td>
            </tr>
        </tbody>
    </table>
{% endif %}
</body>
</html>