<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if team %}
    <table border="1">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Wins</td>
                <td>Losses</td>
            </tr>
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.wins }}</td>
                <td>{{ team.losses }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
{% if players %}
    <p>Players:</p>
    {% for player in players %}
        <a href="/organizer/player/{{ player.id }}">{{ player.name }}</a>
    {% endfor %}
{% endif %}
</body>
</html>